    * {
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        justify-content: center;
    }
    body > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteiner {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }
    .grid {
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    .grid .col {
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: 15px;
       
    }
   .primeiros input:focus {
        box-shadow: 4px 4px 4px 4px rgba(0, 139, 139, 0.473);
        outline: none;
        border: 2px;
    }
    input:checked + p {
        background-color: rgba(118, 243, 243, 0.418);
        color: black; 
    }
    .final {
        color: white;
    }
    div, p, h1, button, .confirmacao {
        margin: 10px 0 10px 10px;       
    }
    li {
        margin-left: 25px;
    }
    h1, .titulos {
        text-align: center;
    }
    input:not(input[type=checkbox]), button{
        width: 100%;
        padding: 10px;
    }
    button {
        background-color: #9debf5;
        border: none;
    }
    img {
        width: 100px;
        height: 100px;  
        transition: 500ms ease-in-out;
    }
    img:hover {
        scale: 1.5;
        cursor: pointer;
    }